0  BITMAP "carte\\b.bmp"

1  BITMAP "carte\\01c.bmp"
2  BITMAP "carte\\02c.bmp"
3  BITMAP "carte\\03c.bmp"
4  BITMAP "carte\\04c.bmp"
5  BITMAP "carte\\05c.bmp"
6  BITMAP "carte\\06c.bmp"
7  BITMAP "carte\\07c.bmp"
8  BITMAP "carte\\08c.bmp"
9  BITMAP "carte\\09c.bmp"
10 BITMAP "carte\\10c.bmp"
11 BITMAP "carte\\11c.bmp"
12 BITMAP "carte\\12c.bmp"
13 BITMAP "carte\\13c.bmp"

14  BITMAP "carte\\01q.bmp"
15  BITMAP "carte\\02q.bmp"
16  BITMAP "carte\\03q.bmp"
17  BITMAP "carte\\04q.bmp"
18  BITMAP "carte\\05q.bmp"
19  BITMAP "carte\\06q.bmp"
20  BITMAP "carte\\07q.bmp"
21  BITMAP "carte\\08q.bmp"
22  BITMAP "carte\\09q.bmp"
23 BITMAP "carte\\10q.bmp"
24 BITMAP "carte\\11q.bmp"
25 BITMAP "carte\\12q.bmp"
26 BITMAP "carte\\13q.bmp"

27 BITMAP "carte\\01p.bmp"
28 BITMAP "carte\\02p.bmp"
29 BITMAP "carte\\03p.bmp"
30 BITMAP "carte\\04p.bmp"
31 BITMAP "carte\\05p.bmp"
32 BITMAP "carte\\06p.bmp"
33 BITMAP "carte\\07p.bmp"
34 BITMAP "carte\\08p.bmp"
35 BITMAP "carte\\09p.bmp"
36 BITMAP "carte\\10p.bmp"
37 BITMAP "carte\\11p.bmp"
38 BITMAP "carte\\12p.bmp"
39 BITMAP "carte\\13p.bmp"

40 BITMAP "carte\\01f.bmp"
41 BITMAP "carte\\02f.bmp"
42 BITMAP "carte\\03f.bmp"
43 BITMAP "carte\\04f.bmp"
44 BITMAP "carte\\05f.bmp"
45 BITMAP "carte\\06f.bmp"
46 BITMAP "carte\\07f.bmp"
47 BITMAP "carte\\08f.bmp"
48 BITMAP "carte\\09f.bmp"
49 BITMAP "carte\\10f.bmp"
50 BITMAP "carte\\11f.bmp"
51 BITMAP "carte\\12f.bmp"
52 BITMAP "carte\\13f.bmp"
